apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
spec:
  replicas: 1
  selector: 
    matchLabels:
      app: fastapi
    
  template:
    metadata:
      labels:
        app: fastapi
    
    spec:
      containers:
        - name: fastapi
          image: fastapi-kind:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          resources:
            limits:
              cpu: "500m"
              memory: "256Mi"
            requests:
              cpu: "250m"
              memory: "128Mi"