replicaCount: 1

image:
  repository: fastapi-kind
  tag: latest
  pullPolicy: Never

service:
  name: fastapi-service
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: fastapi.local
      paths:
        - path: /
          pathType: Prefix
  tls:
    enabled: true
    secretName: fastapi-tls
